{% extends "base.html" %}
{% block title %} Home {% endblock%}
{% block content%}
<h1 class="text-center">Home page</h1>
<h3 class="text-center">Notes</h3>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
   <li class="list-group-item">
       {{note.data}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="deleteNote({{ note.id }})"></button>
    </li>   
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <dir align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </dir>
</form>
{% endblock%}
